*~ 
*.tmp 
*.pdf 
! Proposal/Figures/gnatt.pdf
*.png 
*.tif 
*.pyc
*.docx
*.aux
*.bbl
*.blg
*.bcf
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz

.DS_Store
*/.DS_Store
.Rhistory 
*/Code/.*
*/Results/*
!*/Results/.gitkeep
!*/Manuscript/.gitkeep

Proposal/Versions/


Test.sqlite
__pycache__/
